---
import Working from "../icons/Working.astro";
---

<section 

		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
        data-header-color="black"
		id="education">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-black pt-32 text-[30px] font-medium py-5">
					Estudios
				</h2>
				<a class="icon">
                    <Working />
                </a>
				<p class="text-white text-sm text-[20px] px-10">
					Esta pagina esta en construcción. Por favor, vuelva más tarde.
				</p>
			</header>
		</div>

        <div class="absolute top-0 bottom-0 h-full w-full z-20">
            <img src="/Education.webp" alt="Background" class="h-full w-full object-cover object-center"/>
        </div>
</section>
<style>
	header {
		display: flex;
		align-items: center;
	}
	p {
		margin-top: 10px;
		color: black;
	}
    .icon {
		height: 200px;
		width: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
		margin-top: 60px;
    }
</style>