<section 
		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
		data-header-color="white"
		id="home">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-white pt-40 text-[50px] font-medium pr-8 pl-8">
					Bienvenid@ a mi Portfolio!
				</h2>
				<p class="text-white text-[25px] pt-8 pr-5 pl-5">
					Mi nombre es Matias. Técnico Superior en Programación. 22 años.
				</p>
			</header>
			
			<footer class="flex flex-col flex-grow justify-end pb-40 font-medium">
				<div>
					<p class="text-[18px] text-white pb-2">
						Aqui te dejo mi Curriculum Vitae (CV):
					</p>
					<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-bold rounded
					font-bold text-[20px] text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="https://drive.usercontent.google.com/uc?id=1KR7Pw-jtPmAFJz-rFTuIylX6FbKcD2mi&export=download"
					target="_blank">
						Descargar
					</a>
					<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-bold rounded
					font-bold text-[20px] text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="https://drive.google.com/file/d/1KR7Pw-jtPmAFJz-rFTuIylX6FbKcD2mi/view?usp=drive_link"
					target="_blank">
						Mirar
					</a>
				</div>
			</footer>
		</div>
		<div class="absolute top-0 bottom-0 h-full w-full z-10">
			<video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.mp4"></video>
		</div>
</section>