<section 
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
    data-header-color="black"
    id="about-me">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-black pt-32 text-[30px] font-medium py-5">
					Sobre mí:
				</h2>
				<p class="text-black text-sm text-[20px] px-10">
					Actualmente busco empleo, tengo experiencia como Programador Web Backend
                    gracias a una pasantia que hice mientras estudiaba, me encuentro motivado y con muchas ganas de
                    aportar mis conocimientos a una empresa y crecer profesionalmente.
                    Me encantan los desafíos, me gusta ser autodidacta y curioso, ya sea como programador web o en otras areas,
                    aprendo todo lo que pueda, desde diseño, fotografia, producir música, hasta leer sobre economia y filosofía.
                    Basicamente me considero una persona polivalente. Como programador backend sentí que estaba en mi lugar,
                    que es lo que quiero hacer para vivir y avanzar en la vida. Si bien soy Junior, puedo aportar muchisimo a una compania.
				</p>
			</header>
		</div>

        <div class="absolute top-0 bottom-0 h-full w-full z-20">
            <img src="/White.jpg" alt="Background" class="h-full w-full object-cover object-center"/>
        </div>
</section>