<section 

		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
        data-header-color="black">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-black pt-32 text-[30px] font-medium py-5">
					Soy Técnico Superior en Programación
				</h2>
				<p class="text-black text-sm text-[20px] px-10">
					Tengo 22 años y actualmente busco empleo, tengo experiencia como Programador Web Backend
                    gracias a una pasantia que hice mientras estudiaba, me encuentro motivado y con muchas ganas de
                    aportar mis conocimientos a una empresa y crecer profesionalmente.
                    Me encantan los desafíos, me gusta ser autodidacta y curioso, ya sea como programador o otras areas,
                    aprendo todo lo que pueda, desde diseño, fotografia, producir música, hasta leer sobre economia y filosofía.
                    Basicamente me considero una persona polivalente. Como programador backend sentí que estaba en mi lugar,
                    que es lo que quiero hacer para vivir y avanzar en la vida.
				</p>
			</header>
			
			<footer class="flex flex-col flex-grow justify-end pb-20">
				<div class="gap-x-4 flex mx-auto">
					<a class="bg-blue-800 text-sm rounded font-medium px-10 py-2 transition-colors hover:bg-black
                    hover:text-white inline-flex justify-center items-center text-white"
					href="#">
						Enviar Correo
					</a>
                    <a class="bg-green-800 text-sm rounded font-medium px-10 py-2 transition-colors hover:bg-black
                    hover:text-white inline-flex justify-center items-center text-white"
					href="#">
						Mi WhatsApp
					</a>
				</div>
			</footer>
		</div>

        <div class="absolute top-0 bottom-0 h-full w-full z-20">
            <img src="/White.jpg" alt="Background" class="h-full w-full object-cover object-center"/>
        </div>
</section>