<section 

		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
        data-header-color="white"
        id="contact-me">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-white pt-32 text-[30px] font-medium py-5">
					Contacto
				</h2>
				<p class="text-white text-sm text-[20px] px-10">
					
				</p>
			</header>
			
			<footer class="flex flex-col flex-grow justify-end pb-20">
				<div class="gap-x-4 flex mx-auto">
					<a class="bg-blue-800 text-sm rounded font-medium px-10 py-2 transition-colors hover:bg-black
                    hover:text-white inline-flex justify-center items-center text-white"
					href="mailto:matias2001carrizo2@gmail.com?subject=Mensaje%20Para%20Matias%20Carrizo%20Dev.&body=Hola%20Matias!%20Quiero%20contactarme%20contigo%20porque%20visit%C3%A9%20tu%20portfolio."
                    target="_blank">
						Enviar Correo
					</a>
                    <a class="bg-green-800 text-sm rounded font-medium px-10 py-2 transition-colors hover:bg-black
                    hover:text-white inline-flex justify-center items-center text-white"
					href="https://w.app/matiascarrizodev"
                    target="_blank">
						Mi WhatsApp
					</a>
				</div>
			</footer>
		</div>

        <div class="absolute top-0 bottom-0 h-full w-full z-20">
            <img src="/Contact.webp" alt="Background" class="h-full w-full object-cover object-center"/>
        </div>
</section>