<section 

		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
        data-header-color="black"
		id="education">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-black pt-32 text-[30px] font-medium py-5">
					Estudios
				</h2>
				<p class="text-black text-sm text-[20px] px-10">
					Universidad Nacional de Catamarca (Argentina)
                    TECLAB Instituto Técnico Superior (Argentina)
				</p>
			</header>
		</div>

        <div class="absolute top-0 bottom-0 h-full w-full z-20">
            <img src="/Education.webp" alt="Background" class="h-full w-full object-cover object-center"/>
        </div>
</section>