<section 
		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
		data-header-color="white">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-white pt-60 text-[40px] font-medium">
					Bienvenid@ a mi Portfolio!
				</h2>
				<p class="text-white text-sm">
					Aquí podrás ver algunos de mis trabajos y proyectos personales realizados en el ámbito del desarrollo web.
				</p>
			</header>
			
			<footer class="flex flex-col flex-grow justify-end pb-20">
				<div>
					<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-bold rounded
					font-medium text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="https://download1320.mediafire.com/zg9o8xiyr4gglhgmaTiPigRN0J_9niBKqps_BQI0rzZmMENm970ThJlLCuLXMVeLvkmqqQC0odMAxMsWo4y_H1-TqNBHHr03Zvj5a7dS9y4JnbRUmB-gUAmDCYmNmDHvLHo9itBsbDZ49wrJ5wyio88BkofJ2Tk9m3cxF_KjXjeR/61rfk91z190gwdr/CV+-+Carrizo+Matias+Ivan+-+Tec.+Sup.+en+Programaci%C3%B3n.pdf">
						Descarga mí CV
					</a>
				</div>
			</footer>
		</div>
		<div class="absolute top-0 bottom-0 h-full w-full z-10">
			<video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.mp4"></video>
		</div>
</section>