<section 
		class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
		data-header-color="white"
		id="home">

		<div class="z-30 relative h-full flex flex-col">
			<header class="flec flex-col">
				<h2 class="text-white pt-60 text-[40px] font-medium">
					Bienvenid@ a mi Portfolio!
				</h2>
				<p class="text-white text-sm">
					Mi nombre es Matias. Técnico Superior en Programación. 22 años. Argentino.
				</p>
			</header>
			
			<footer class="flex flex-col flex-grow justify-end pb-20">
				<div>
					<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-bold rounded
					font-medium text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
					href="https://drive.usercontent.google.com/download?id=1KR7Pw-jtPmAFJz-rFTuIylX6FbKcD2mi&export=download&authuser=1&confirm=t&uuid=ae43d8f4-2c9b-4d9b-9096-b6059d67c6ea&at=APZUnTVeDbw4BqDAleX9M5_KmCaK:1710629533435"
					target="_blank"
					download="CV - Matias Ivan Carrizo.pdf">
						Descarga mí CV
					</a>
				</div>
			</footer>
		</div>
		<div class="absolute top-0 bottom-0 h-full w-full z-10">
			<video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.mp4"></video>
		</div>
</section>